
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Exel Sənədi</h1>
<a href="/Exel/StaticExel/" class="btn btn-outline-info">Statik Excel Raport</a>
<a href="/Exel/DestinationExelReport/" class="btn btn-outline-primary">Tur Excel Raport</a>
