@model IEnumerable<SubAbout>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
}

<h1>Alt Haqqımızda</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Başlıq </th>
        <th>Haqqında 1</th>
        <th>Sil</th>
        <th>Yenilə</th>

    </tr>
    @foreach (var x in Model)
    {
        count++;
        <tr>
            <td>@count</td>
            <td>@x.Title</td>
             <td>@x.Description</td>

            <td><a href="/Admin/SubAbout/DeleteSubAbout/@x.SubAboutID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Admin/SubAbout/UpdateSubAbout/@x.SubAboutID" class="btn btn-outline-primary">Yenilə</a></td>
        </tr>

    }
</table>
<a href="/Admin/SubAbout/AddSubAbout/" class="btn btn-outline-success">Yeni</a>