
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Raport</h1>

<a href="/PdfReportController1/StatikPdfreport/" class="btn btn-outline-primary">Statik Pdf Raport</a>
<a href="/PdfReportController1/StatikPdfCustomerReport/" class="btn btn-outline-primary">Statik Qonaq Raport</a>
