
@{
    ViewData["Title"] = "GetCityDesID";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";


}

<h1>Bookin APİ Ölkə/Şəhər İD Axtarış Səhifəsi</h1>

<form method="post">
  <label>Ölkə və ya Şəhər Adı</label>
  <input type="text" class="form-control" name="p" />
  <br />
  <button class="btn btn-outline-succes">APİ İD Axtar</button>
</form>
