@model List<AppUser>
@{
    ViewData["Title"] = "UserList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>İstifadəçi Siyahısı</h1>

<table class="table table-bordered">
    <tr>
        <th>İstifadəçi Adı</th>
        <th>Rol təkim Etmə</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td><a href="/Admin/Role/AssignRole/@item.Id" class="btn btn-warning">Rol Təhkimi</a></td>
        </tr>
    }
</table>
