<ul class="menu-inner py-1">
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Destination/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-table"></i>
            <div data-i18n="Analytics">Tur Rotaları</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/About/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-detail"></i>
            <div data-i18n="Analytics">Haqqımızda</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Comment/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment-detail"></i>
            <div data-i18n="Analytics">Şərhlər</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/User/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-female"></i>
            <div data-i18n="Analytics">Qonaqlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/VisitorApi/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-beer"></i>
            <div data-i18n="Analytics">APİ Qonaqlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Api/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-search"></i>
            <div data-i18n="Analytics">APİ Axtarış Səhifələri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Announcement/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-bible"></i>
            <div data-i18n="Analytics">Kampaniyalar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/ContactUs/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-message-alt"></i>
            <div data-i18n="Analytics">Mesajlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Account/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-bitcoin"></i>
            <div data-i18n="Analytics">Pul Transfer</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Guide/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-help-circle"></i>
            <div data-i18n="Analytics">Tur Rəhbərlərimiz</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Exel/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-report"></i>
            <div data-i18n="Analytics">Exel Raport</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/PdfReportController1/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-report"></i>
            <div data-i18n="Analytics">Pdf Raport</div>
        </a>
    </li>
   @* <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-star"></i>
            <div data-i18n="Analytics">Ən Çox İzlənənlər</div>
        </a>
    </li>*@
    <li class="menu-item">
        <a href="/Admin/SendMail/SendMail" class="menu-link">
            <i class="menu-icon tf-icons bx bx-mail-send"></i>
            <div data-i18n="Analytics">Mail Göndermə Səhifəsi</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-navigation"></i>
            <div data-i18n="Analytics">Referanslar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/SubAbout/Index" class="menu-link">
            <i class="menu-icon tf-icons bx bx-abacus"></i>
            <div data-i18n="Analytics">Alt Haqqqında</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-book-add"></i>
            <div data-i18n="Analytics">Rezervasiyalar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-book-bookmark"></i>
            <div data-i18n="Analytics">Mail Siyahısı</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-key"></i>
            <div data-i18n="Analytics">Şifrə Ayarları</div>
        </a>
    </li>
     <li class="menu-item">
        <a href="/Admin/Role/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bxs-thermometer"></i>
            <div data-i18n="Analytics">Rollar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Default/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-archive-in"></i>
            <div data-i18n="Analytics">Web Ana Səhifə</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/LogInController1/SignOut" class="menu-link">
            <i class="menu-icon tf-icons bx bx-exit"></i>
            <div data-i18n="Analytics">Çıxış</div>
        </a>
    </li>
</ul>
