
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>APİ Axtarış Səhifələri</h1>

<table class="table table-striped">
    <tr>
        <th>Otel</th>
        <th>Pul Vahidi</th>
        <th>Kino</th>
       
    </tr>
   
    
        <tr>
        <td><a href="/Admin/BookingHotel/Index/" class="btn btn-outline-success">Otel</a></td>
        <td><a href="/Admin/ApiExchange/Index" class="btn btn-outline-primary">Pul Vahidi</a></td>
        <td><a href="/Admin/ApiMovie/Index" class="btn btn-outline-info">Kino</a></td>

        </tr>

    
</table>
